
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  float: right;
  position: relative;
  z-index: 100;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.app-footer {
  clear: both;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.main-panel {
    padding-top: 100px;
    min-height: 500px;
}

.active {
  color: #555;
  background-color: #e7e7e7;
}

.form-group {
  border: 1px lightblue solid;
  width: 400px;
  padding: 30px;
}

.form-group input {
  width: 60%;
}

textarea {
  width: 100%;
}

.box {
  border: 1px lightblue solid;
 
  padding: 10px;
  margin-bottom: 10px;
}

.box.answer {
  border: 1px lightcoral solid;
}